services:
  db:
    image: postgres:17
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  server:
    build:
      context: .
    command: >
      sh -c "python manage.py migrate --run-syncdb &&
          python manage.py runserver 0.0.0.0:8000"

    volumes:
      - .:/LRAT_APP
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

volumes:
  postgres_data:
